extends layout

block content
  h1= title
  h2 Welcome to #{title}
  h2 #{rname}

  p To start your game you must select Robot from the list if you have not done so yet
  p Available commands: PLACE, MOVE, LEFT, RIGHT and REPORT

  

  

    

